
.main{
    margin: 50px 50px;
    height: auto;
    background-color: #fff;
    padding-bottom: 20px;    
    
}

.addItems{
    width:70%;
    margin: 50px 100px;
    padding-left: 22vw;
}

.col-form-label-lg {
    width: 100%;
}

.form-control-lg{
    height: 10px;
}

.btn-primary {
    margin-top: 20px;
    font-size: large;
    background-color: #14213d ;
    border :none  ;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ffb703;
    border-color: #ffb703;
}

.col-form-label-lg {
    font-size: 1.1rem;
}

.form-control-lg {
    font-size: 1rem;
}