*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #14213d;
}

.navigation{
    padding: 10px 80px;
    background-color: #ffb703;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation h1{
    color: #14213d;
}

.css-button-sliding-to-left--rose {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #14213d;
    color: #14213d;
  }
.css-button-sliding-to-left--rose:hover {
    color: #fff;
  }
.css-button-sliding-to-left--rose:hover:after {
    width: 100%;
  }
.css-button-sliding-to-left--rose:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #03071E;
  }

.main{
    margin: 30px 30px;
    height: 80vh;
    background-color: #fff; 
}

.main .innerBar{
    /* align-items: center; */
    background-color: #ffb703;
    height: 8vh;
    
}

.main .innerBar .bar-pills {
    display: flex;
    justify-content: center;
}

.main .innerBar .bar-pills .list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    margin: 1rem;
}

.main .innerBar .bar-pills .list-item-inline  .link {
    color:#14213d;
    font-size: larger;
}

.main .innerBar .bar-pills .list-item-inline  .link-active {
    font-weight: bold;
}

